body{
    padding: 0;
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Arial, "Segoe UI",
      "Helvetica Neue", "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0 10% 5% 10%;
}
footer{
    width: 100%;
    padding: 1% 0 1% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(212, 212, 212);
}
.logo{
    width: 50px;
    margin-right: 20px;
}
h1{
    font-size: 30px;
    margin: 0;
}
.but-foot{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(212, 212, 212);
    color: rgba(0,0,0,.54);
}

.a-style{
    margin-right: 50px;
    text-decoration: none;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid white;
    color: rgba(53, 53, 53, 0.54);
}
.a-style:visited {
    color: rgba(102, 102, 102, 0.54);
    text-decoration: none;
    
}
.a-style:hover {
    color: black;
    border-bottom: 3px solid rgba(53, 53, 53, 0.54);
}
.main-kurs{
    width: 100%;
    margin-top: 40px;
}
.main-kurs-params{
    background-color: #eeeeee;;
    height: 10px;
    color: rgba(0,0,0,.54);
}

.kurs-table{
    width: 100%;
    border-spacing: 0px;
}

.kurs-table tr td{
    height: 50px;
    padding: 0;
    border-bottom: 1px solid #eeeeee;;
    text-align: center;
}
.kurs-today{
    color: rgba(53, 53, 53, 0.54);
    font-size: 13px;
    position: relative;
    text-align: right;
}
